@import url(http://fonts.googleapis.com/css?family=Marcellus+SC);

body{
  background: #E0E0E0;
}

/* generic style to hopefully not overlap with existing style */
.GoDText,
.GoDText h1,
.GoDText h2,
.GoDText h3,
.GoDText h4,
.GoDText h5,
.GoDText h6,
.GoDText p{
  font-family: 'Marcellus SC', serif !important;  
  text-align: center;
  color: #000;
}
/* the selected boxes */
.divFighter{
  position: absolute !important;
  display: block !important;
  z-index: 10000000 !important;
}
.divReplaced{
  background: #333 !important;
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5) !important;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5) !important;
  color: #333 !important;
}
/* the popup boxes */
#sanityTest{
  display: none;
}
#GDMessageContainer{
  z-index: 10000; 
  display: none; 
  position: fixed;
  top: 50px; 
  background: #FFF; 
  border-radius: 5px; 
  width: 300px; 
  padding: 1em;
}
#GDMessageContainer button{
  display: none;
}
