@import url(http://fonts.googleapis.com/css?family=Marcellus+SC);

body{
  background: url(http://hdwallpaper.freehdw.com/0006/3d-abstract_other_dragon-game-of-thrones-artwork_55597.jpg) no-repeat !important;
  background-size: cover;
  background-attachment: fixed !important;
}

/* generic style to hopefully not overlap with existing style */
.GoDText,
.GoDText h1,
.GoDText h2,
.GoDText h3,
.GoDText h4,
.GoDText h5,
.GoDText h6,
.GoDText p{
  font-family: 'Marcellus SC', serif !important;  
  text-align: center;
  color: #000;
}
/* the selection boxes */
.GoDified{
  display: block;
  position: absolute; 
  left: 0; 
  top: 0; 
  border: dotted 1px #F00;
  z-index: 9999;
  transition: all .5s ease;
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}
.GoDified :hover{
  border: solid 1px #0FF;
  background: rgba(0,0,0,0.8);
}
.GoDCandidate{
  border: solid 1px #000;
  background: rgba(255,0,0,0.8);
}
/* the popup boxes */
#GoDBox{
  z-index: 10000; 
  display: none; 
  position: fixed;
  top: 50px; 
  background: #FFF; 
  border-radius: 5px; 
  width: 300px; 
  padding: 1em;
}
#GoDBox button{
  display: none;
}
/* rerender the  selected divs */
.GoDDivONE,
.GoDDivTWO{
  position: absolute;
  left: 3%;
  width: 40%;
  bottom: 10px;
  display: block;
  border-left: solid 8px rgba(0,0,0,0.6);
  border-bottom: solid 10px rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.5);
  height: 20px;
  -webkit-perspective: 1000em;
  -webkit-transform: skew(x25deg);
}
.GoDDivTWO{
  left: 53%;
  width: 40%;
}
.GoDDivONE div,
.GoDDivTWO div{
  position: absolute;
  left: 5%;
  width: 88%;
  bottom: 10px;
  display: block;
  border-left: solid 8px rgba(0,0,0,0.6);
  border-bottom: solid 10px rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.5);
  height: 20px;
}






.divSelected{
  border: solid 1px #0FF;
  background: rgba(0,0,0,0.8);
  cursor: pointer;
}